[Unit]
Description=mitmweb proxy 24/7
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/venv-mitmproxy
# Virtualenv aktivieren und mitmweb starten
ExecStart=/bin/bash -c 'source /root/venv-mitmproxy/bin/activate && mitmweb --web-host 0.0.0.0 --listen-port 8080 --web-port 8081 --set web_password=StarkesPasswort --set block_global=false'
Restart=on-failure
RestartSec=5s
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
